body{
  margin:0;
  height: 100%;
  text-align: center;
  background-color: rgba(1,0,128,0.2);

}

h1{
  color:rgb(158,0,0);
  font-size: 160%;
  text-align:center;
}

p{
  text-align: center;
  color:rgb(0,0,228);
}
a{
  color:rgb(250,0,200);
}

h3{
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 30px;
  border: 1px solid lightskyblue;
  background-color:rgba(128,12,128,.9);
  height: 20px;
  width: 94%;
  float: none;
}
h2{
  color:green;
  font-size: 120%;
  text-align: center;

}

  caption{
  text-transform: uppercase;
  background-color: #666666;
  color:#ffffff;
  font-size: 150%;
}

div.c{
  color: #0000ff;
  display: inline-block;
  line-height: 100px;
  /* height: 5%; */
  width: 35%;
  font-size: 90%;
  font-weight: bold;
  padding:20px
  padding: 5px 1px 5px 10px;
  color:(0,128,128);
  border-radius: 10%;
  background-color:rgba(258,10,258,0.8);
  box-shadow:1px 4px 9px 3px grey;
  float: none;
  position: relative;

}
.c:hover{
  background:rgba(256,0,258,0.9)
  /* border:2px solid purple; */
}


.b span{
  text-align: center;
  float: right;
}

.a img{
  margin: auto;
  position: relative;
  float: left;
  top:10%;
  left: 9%;

}

nav{
  padding: 1%;
}

.navbar{
  display: inline-block;
  float: none
  height: 500px;
  background-color:rgba(256,205,256,.3);

  width: 70%;
  overflow: auto;

}
div.c:hover {
  border: 1px solid #777;
}
.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .c a {
    float: none;
    display: block;
  }
}
